html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* tailwindcss imports */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.nav-btn {
  @apply text-white font-bold rounded cursor-pointer;
}

.nav-btn:hover {
  @apply bg-blue-400;
}

.ddm-l {
  display: hidden;
}
.ddm-t:hover + .ddm-l {
  display: block;
}

.ddm-l:hover {
  display: block;
} */
